*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3a3535;
    
}

body{
    overflow: hidden;
   
}

.chatBox{
    
    display: grid;
    grid-template-columns: 70px 1fr 2fr;
    grid-template-rows: 60px 62.1vh 100px 80px; 
     /* grid-auto-rows: minmax(55px, auto, 100px); */
    grid-template-areas: 
        "navbar sidebar header"
        "navbar sidebar content"
        "navbar sidebar content"
        "navbar sidebar footer";
}

.grid-item{
    border: 1px solid rgba(56, 52, 52, 0.384);
    background-color: #e9e9e9;
    
}

.item-1{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 80px;
    gap: 50px;
    border: 1px solid #eeeeee56;
    background: linear-gradient(to bottom, white, #8ec1ff);
}

.item-1 i{
    color: #353333;
}


.item-1 i:hover{
    color: #8ec1ff;
    font-size: 20px;
}

.item-2{
   grid-area: sidebar;
   border: 1;
   padding: 10px;
   position: relative;
   height: 100vh;
   background: linear-gradient(to bottom, white, #8ec1ff);
}

.item-2 input{
    height: 30px;
    width: 92%;
    border-radius: 30px;
    border: 0;
    padding: 5px;
    margin-top: 20px;
    background-color: #9a9a9b21;
}

.item-2 label i{
    padding: 5px;
}
 
 
.content{
    border-left:none;
    border-bottom: none;
}

h2{
    padding: 30px 5px;
    display: inline;
}

.item-2 .sectionHeader p{
    display: inline;
    padding-left: 12rem
}

p a{
    text-decoration: none;
    color: #5858ff;
}

.contact-container{
    
}

.contact-list{
    overflow-y: auto;
    height: 100vh;
}

.contact-list div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.item-3{
    grid-area: header;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.item-3 div i{
    padding-left: 15px;
    color: #c7c7c7;
}

.item-3 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h3{
    display: inline;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    
}


.item-4{
    grid-area: content
}

.item-5{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.item-5 input{
    height: 50px;
    width: 50%;
    border-radius: 30px;
    border: 0;
    padding: 5px;
    padding-left: 10px;
    background-color: #9a9a9b21;
}








.message {
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: fit-content;
  }
  
  .user-message {
    background-color: #7c7979;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    max-width: 600px;
    align-self: flex-end;
    word-wrap: break-word; /* Ensures long words are broken and wrapped to the next line */
    white-space: pre-wrap; /* Preserves whitespace and wraps text to the next line */
  }
  
  
  .other-message {
    background-color: #f0f0f0;
    color: #000000;
    align-self: flex-start;
  }
